hr.hr{
    border-color: blue;
    width: 100%;
}
.info-product-details{
    margin: 3%;
}
.details-item-body p{
    font-size: 17px;
}
.product_type{
     height: auto;
     margin: 1%;
}
.details-item-header img{
     width: 250px;
    height: 280px;
    margin-left: 22%;
}

.item:hover a.beta-btn.primary{color: green;}

hr.hr-product-type {
    border:  solid 0.5px gray;
    width: 100%;
}
/*Sản phảm cùng loại*/
.row{
    margin-left: 3%;
}
.item{
    width: 180px;
    height: 350px;
    border: solid 1px #F2F2F2; 
    margin: 1%;


}
.item img{
    width: 170px;
    height: 182px;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 10px;
}

p.item-title {
   text-align: center;
   font-size: 17px;
   margin-top: 5px;
  
   
}
.item-title{
    height: 60px;
    text-align: center;
    
}
.item-caption{
    margin-left: 5%;
}
.item-price{
    text-align: center;
    color: red;
}
.item:hover {
      -webkit-box-shadow: 2px 4px 4px 4px gray;
    
}
/*css mấy cái thêm giở hàng và tuỳ chỉnh số lượng*/
.form-group-row input{
height: 38px;
width: 42.58px;
border: solid 1px gray;
border-radius: 5px;
text-align: center;
}
.btn-outline-success{
    margin: 2%;
}
label{
    font-weight: bold;
}
.fa-shopping-cart{
    color: tomato;
}
.comment{
    height: 200px;
   
}
.btn-green{
    float: left;
}

